{% extends 'base.html.twig' %}

{% block title %}Étape 2 — Choix de la catégorie{% endblock %}
{% block stylesheets %} 
<link rel="stylesheet" href="{{ asset('css/etape2.css') }}"> 
{% endblock %}
{% block body %}
<style>
    body {
        background-image: url('{{ asset('images/back7.jpg') }}');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }


</style>

<div class="container">
    <form method="post" class="glass-card">
        <h2>Étape 2 — Choisissez une catégorie</h2>

        <div class="mb-3">
            <label class="form-label" for="categorie">Catégorie</label>
            <select name="demande[categorie]" id="categorie" class="form-select" required>
                <option value="">-- Sélectionnez une catégorie --</option>
                {% for cat in categories %}
                    <option value="{{ cat.id }}" {% if cat.id == selectedCategorieId %}selected{% endif %}>
                        {{ cat.nom }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="d-grid gap-2 mt-4">
            <button type="submit" class="btn btn-primary btn-lg">Étape suivante</button>
              <a href="{{ path('app_demande_new') }}" class="btn btn-dark">Retour</a>
        </div>
    </form>
</div>
{% endblock %}
